extends layout

block head
    link(rel="stylesheet" href="/stylesheets/awesomplete.css")
    link(rel="stylesheet" href="/stylesheets/containerForm.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.3/awesomplete.min.js")

block content
    form#form1(action='/container/new', method='post')
        .columns.is-multiline(style={margin : "20px"})
            .column.is-3
                .box
                    .field
                        label.label Nom
                        .control
                            input.input(type='text', name="nom" ,placeholder='Nom du contenaire')
                    .field
                        label.label Image
                        .control
                            input.awesomplete.input(type='text', name="image" , placeholder='Image du contenaire',data-list=imageNameList)
            .column.is-3                      
                .box
                    .field
                        label.label Memoire Alloué (en MB)
                        .control
                            input.input(type='number', name="memory" , placeholder='Memoire alloué au contenaire (MB)')
                    .field
                        label.label CPU Alloué (en %)
                        .control
                            input.input(type='number', name="cpu" , min="1",max="100",placeholder='CPU alloué au contenaire (%)')
            .column.is-6
                .box
                    h5(class="title is-5") Port
                    hr
                    .columns.is-multiline#portForm
                        .column.is-4
                            input.input(type='text', name="portFrom" , placeholder='Docker Port')
                        .column.is-8
                            .columns
                                .column.is-6
                                    input.input(type='text', name="portTo" , placeholder='Published Port')
                                .column.is-4
                                    .select
                                        select(name="portType")
                                            option(value="TCP") TCP
                                            option(value="UDP") UDP
                                #addPortButton.column.is-2
                                    a.button(onclick='addPort()')
                                        span.icon.is-small
                                            i.fas.fa-plus
            .column.is-6
                .box
                    h5(class="title is-5") Volume
                    hr
                    .columns.is-multiline#volForm
                        .column.is-6
                            input.input(type='text', name="volFrom" , placeholder='Depuis')
                        .column.is-5
                            input.input(type='text', name="volTo" , placeholder='Vers')
                        #addVolButton.column.is-1
                            a.button(onclick='addVol()')
                                span.icon.is-small
                                    i.fas.fa-plus
            .column.is-6
                .box
                    h5(class="title is-5") Variable d'Environnement 
                    hr
                    .columns.is-multiline#envForm
                        .column.is-6
                            input.input(type='text', name="envVarName" , placeholder='Nom de la Variable')
                        .column.is-4
                            input.input(type='text', name="envVarValue" , placeholder='Valeur')
                        #addEnvButton.column.is-2
                            a.button(onclick='addEnv()')
                                span.icon.is-small  
                                    i.fas.fa-plus
    .columns.is-centered(style={margin : "20px"})
        .column.is-10.is-text-centered(style={'justify-content': 'center','display': 'flex'})
            button.button.is-success(type='submit', form='form1', value='Crée') Créer
            a.button.is-danger(href= "/container",style={"margin-left" : "10px"}) Retour

    script.
        function addEnv(){
            $('#addEnvButton').remove()
            $('#envForm').append('<div class="column is-6"><input class="input" type="text" name="envVarName" placeholder="Nom de la Variable" /></div><div class="column is-5"><input class="input" type="text" name="envVarValue" placeholder="Valeur" /></div><div class="column is-1" id="addEnvButton" ><a class="button" onclick="addEnv()"><span class="icon is-small"><i class="fas fa-plus"></i></span></a></div>');
        }

        function addVol(){
            $('#addVolButton').remove()
            $('#volForm').append('<div class="column is-6"><input class="input" type="text" name="volFrom" placeholder="Depuis" /></div><div class="column is-5"><input class="input" type="text" name="volTo" placeholder="Vers" /></div><div class="column is-1" id="addVolButton" ><a class="button" onclick="addVol()"><span class="icon is-small"><i class="fas fa-plus"></i></span></a></div>');
        }

        function addPort(){
            $('#addPortButton').remove()
            $('#portForm').append('<div class="column is-4"><input class="input" type="text" name="portFrom" placeholder="Docker Port" /></div><div class="column is-8"><div class="columns"><div class="column is-6"><input class="input" type="text" name="portTo" placeholder="Published Port" /></div><div class="column is-4"><div class="select"><select name="portType"><option value="TCP">TCP</option><option value="UDP">UDP</option></select></div></div><div class="column is-1" id="addPortButton"><a class="button" onclick="addPort()"><span class="icon is-small"><i class="fas fa-plus"></i></span></a></div></div></div>');
        }